/* CSS */
.container {
    max-width: 100%;
    padding:300px;
    margin: 50px auto; /* Center the container horizontally */
    border: 1px solid #333; /* Add a 2px solid border with color #333 */
    border-radius: 10px;
  }
  .content {
    text-align: center;
  }

 /* container.css */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Optional: adjust the height to fit your layout */
}

/* container.css or your CSS file */
.button-hover:hover {
  background-color: #333; /* Change to your desired hover color */
}


/* Other styles for your header and content as needed */

  
  /* Responsive styles */
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .container {
      padding: 10px;
    }
  }
  